{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ super() }}{% endblock %}

{% block main %}
  <h2>Research</h2>
  <!-- <p>Published and Under Review</p> -->
  <div class="projects-section">
    <div class="posts">
      {% set data = load_data(path="content/publications/data.toml", format="toml") %}
      {% for pub in data.publication %}
      <div class="post">
        <div class="info"><span>{{ pub.date | trim }}</span></div>
        <div class="title">
          {% if pub.doi %}
            <a href="{{ pub.doi }}" target="_blank" rel='noreferrer noopener'>{{ pub.title | trim }}</a>
          {% else %}
            {{ pub.title | trim }}
          {% endif %}
        </div>
        <div class="authors">{{ pub.authors | trim | markdown | safe }}</div>
        {% if pub.description %}
          <div class="description">{{ pub.description | trim}}</div>
        {% endif %}

        <div class="links">
        <!-- {% if pub.doi %}<a href="{{ pub.doi }}" target="_blank" rel='noreferrer noopener'>DOI</a>{% endif %} -->
        {% if pub.pdf %}<a href="{{ pub.pdf }}" target="_blank" rel='noreferrer noopener'><i data-feather="download"></i></a>{% endif %}
        {% if pub.code %}<a href="{{ pub.code }}" target="_blank" rel='noreferrer noopener'><i data-feather="github"></i></a>{% endif %}
        </div>
      </div>
      {% endfor %}
      </div>    
  </div>
{% endblock %}
